<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="Mainconn" connectionString="Server=.;database=bingocom_;uid=sa;pwd=pVt0a7_4" providerName="System.Data.SqlClient"/>-->
  <add name="Mainconn" connectionString="Server=.\sql2008;database=weiip;uid=sa;pwd=aa123" providerName="System.Data.SqlClient"/>
</connectionStrings>